flows.json
[{ "id": "9ba173d3.9477", "type": "tab", "label": "Flow 2", "disabled": false, "info": "" }, { "id": "6aab2799.b8f1d8", "type": "watson-conversation-v1", "z": "9ba173d3.9477", "name": "TEST", "workspaceid": "ddfbbc5e-5cc6-4cc0-b7b7-ce0a1d1ded64", "multiuser": false, "context": false, "empty-payload": false, "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/db321622-59d2-4766-b423-c8dad55e2b71", "timeout": "", "optout-learning": false, "x": 410, "y": 120, "wires": [
        ["b9488d37.6f13a"]
    ] }, { "id": "b8d3bb4b.327a38", "type": "inject", "z": "9ba173d3.9477", "name": "", "topic": "", "payload": "HELLO", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "x": 230, "y": 160, "wires": [
        ["6aab2799.b8f1d8"]
    ] }, { "id": "24816783.1eb338", "type": "debug", "z": "9ba173d3.9477", "name": "", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "payload", "targetType": "msg", "x": 790, "y": 260, "wires": [] }, { "id": "b9488d37.6f13a", "type": "function", "z": "9ba173d3.9477", "name": "parsing", "func": "msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload=msg.payload.text;\n}\nelse\nmsg.payload=msg.payload.output.text[0];\nreturn msg;", "outputs": 1, "noerr": 0, "x": 600, "y": 180, "wires": [
        ["24816783.1eb338", "99d8731c.a7d66"]
    ] }, { "id": "26e3c06b.8f9bc", "type": "ui_form", "z": "9ba173d3.9477", "name": "", "label": "", "group": "a019c64b.3ed708", "order": 1, "width": "0", "height": "0", "options": [{ "label": "Enter your input", "value": "text", "type": "text", "required": true, "rows": null }], "formValue": { "text": "" }, "payload": "", "submit": "submit", "cancel": "cancel", "topic": "", "x": 70, "y": 300, "wires": [
        ["52a88724.f959a8"]
    ] }, { "id": "52a88724.f959a8", "type": "function", "z": "9ba173d3.9477", "name": "input parsin", "func": "msg.payload=msg.payload.text;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 270, "y": 260, "wires": [
        ["a718eac7.995fd8", "6aab2799.b8f1d8"]
    ] }, { "id": "99d8731c.a7d66", "type": "ui_text", "z": "9ba173d3.9477", "group": "65126666.23dec8", "order": 2, "width": "9", "height": "18", "name": "", "label": "Bot", "format": "{{msg.payload}}", "layout": "col-center", "x": 730, "y": 360, "wires": [] }, { "id": "a718eac7.995fd8", "type": "ui_text", "z": "9ba173d3.9477", "group": "a019c64b.3ed708", "order": 2, "width": "0", "height": "0", "name": "", "label": "You", "format": "{{msg.payload}}", "layout": "row-spread", "x": 410, "y": 340, "wires": [] }, { "id": "a019c64b.3ed708", "type": "ui_group", "z": "", "name": "Chatbot", "tab": "2fb12e7e.9ecb62", "order": 1, "disp": true, "width": "6", "collapse": false }, { "id": "65126666.23dec8", "type": "ui_group", "z": "", "name": "Output", "tab": "2fb12e7e.9ecb62", "order": 2, "disp": true, "width": "10", "collapse": false }, { "id": "2fb12e7e.9ecb62", "type": "ui_tab", "z": "", "name": "Customer Care", "icon": "dashboard", "disabled": false, "hidden": false }]